body {
  margin: 0;
  background-color: cornflowerblue;
}
h1 {
  text-decoration: underline;
  font-family: "Righteous", cursive;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#search-bar {
  display: flex;
  height: 40px;
  width: 50%;
  border-radius: 0.5rem;
  font-size: x-large;
  font-family: 'Black And White Picture', sans-serif;
}
.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.user-cards > li {
  list-style: none;
}
.card {
  color: white;
  margin: 1rem 1.5rem 1rem;
  padding: 0.5rem 1.2rem 0.5rem;
  box-shadow: 0.7rem 0.7rem 0.7rem rgb(16, 16, 96);
  border-radius: 0.5rem;
  background: linear-gradient(to left bottom, rgb(81, 81, 255), rgb(0, 0, 94));
}
.card > * {
  display: flex;
  justify-content: center;
}
.header {
  text-align: center;
  font-size: x-large;
  font-family: "Chakra Petch", sans-serif;
}
.body {
  text-align: center;
  font-family: "Fasthand", cursive;
  font-size: large;
  letter-spacing: 0.1rem;
}
.hide {
  visibility: hidden;
}

@media screen and (max-width: 700px)and (min-width: 200px) {
  h1 {
    font-size: 28px;
    text-align:center
  }
  .user-cards {
    display: grid;
    padding: 0 0 0;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    height: max-content;
  }
  .card {
    margin: 1rem 1rem 1rem;
    padding: 0.5rem 1.2rem 0.5rem;

    border-radius: 0.5rem;
  }
  .header {
    font-size: large;
  }
  .body {
    word-wrap: break-word;
    font-size: medium;
    letter-spacing: 0.1rem;
  }
}